*~
*.out
*.Rout
.DS_Store
.Rapp.history
.RData
.Rhistory
.Rproj.user
docs
inst/doc
vignettes/*.html
README.html
paper.html
_targets_packages.R
_targets
_targets.R
_targets.Rmd
_targets_r
_targets.yaml
skeleton.html
revdep
googlecloudrunner-auth-key.json
run.R
run.sh
