*~
*.out
*.Rout
.DS_Store
.future
.Rapp.history
.RData
.Rhistory
.Rproj.user/
_targets
_targets.R
docs
inst/doc
vignettes/*.html
README.html
paper.html
.Rproj.user
_packages.R
_targets.yaml
_targets_r
targets.Rmd
